*.log
.DS_Store
/application/.env
/environment/.env
/environment/.env.backup
/environment/.env.production
/environment/.phpactor.json
/application/.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/application/auth.json
/application/node_modules
/application/public/build
/application/public/hot
/application/public/storage
/application/storage/*.key
/application/storage/pail
/application/vendor/
/applicationHomestead.json
/applicationHomestead.yaml
/applicationThumbs.db
